<div class="row" *ngIf="showDetails">
	<!-- Column -->
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">{{ orderDetail.NumeroCompromiso }}-{{ orderDetail.Descripcion }}</h3>
				<div class="card-subtitle" style="text-align: right;">
					<div class="buttons-group">
						<button class="btn btn-primary btn-rounded" style="margin-right: 5px;">Aprobar</button>
						<ng-template #popContent>
							<div *ngFor="let item of userApprovers">
								<p>{{ item.Busqueda }}, <b> {{ item.Estado === 'A1' ? 'PRE APROBADO' : item.Estado === 'AN' ?
										'ANULADO' : '' }}</b></p>
							</div>
							<div *ngIf="userApprovers.length === 0">
								<p><b>Todavía no fue aprobado por algún usuario.</b></p>
							</div>
						</ng-template>
						<ng-template #popTitle><b>Flujo de Aprobaciones!!</b></ng-template>
						<button type="button" class="btn btn-light-primary text-primary" [ngbPopover]="popContent"
							[popoverTitle]="popTitle">
							Aprobado por
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<h3 class="p-2-title mt-4 pt-3">Información General</h3>
						<div class="table-responsive">
							<table class="table">
								<tbody>
									<tr>
										<td>Sede</td>
										<td>{{ orderDetail.sede }}</td>
									</tr>
									<tr>
										<td>Clasificación</td>
										<td>{{ orderDetail.DescripcionLocal }}</td>
									</tr>
									<tr>
										<td>Proveedor</td>
										<td>{{ orderDetail.Busqueda ?? orderDetail.NombreCompleto}}</td>
									</tr>
									<tr>
										<td>Forma de Pago</td>
										<td>{{ orderDetail.FormadePago }}-{{ orderDetail.desformapag ?? orderDetail.Descripcion}}
										</td>
									</tr>
									<tr *ngIf=" orderDetail.Comentarios">
										<td>Desc. Adicional</td>
										<td>{{ orderDetail.Comentarios }}</td>
									</tr>
									<tr>
										<td>Observaciones</td>
										<td>{{ orderDetail.Observaciones }}</td>
									</tr>
									<tr *ngIf="orderDetail.ObservacionesEntrega">
										<td>Obs. Detallada</td>
										<td> {{ orderDetail.ObservacionesEntrega }} </td>
									</tr>
									<tr>
										<td>Monto Bruto</td>
										<td>{{ currencyDocument }} {{ orderDetail.MontoBruto ?? orderDetail.MontoAfecto}}</td>
									</tr>
									<tr>
										<td>Monto No Afecto</td>
										<td>{{ currencyDocument }} {{ orderDetail.MontoNoAfecto }}</td>
									</tr>
									<tr *ngIf="orderDetail.MontoCompromisoOriginal">
										<td>Monto Sub. Total</td>
										<td>{{ currencyDocument }} {{ orderDetail.MontoCompromisoOriginal }}</td>
									</tr>
									<tr>
										<td>Impuestos</td>
										<td>{{ currencyDocument }} {{ orderDetail.MontoImpuesto }}</td>
									</tr>
									<tr>
										<td>Monto Total</td>
										<td>{{ currencyDocument }} {{ orderDetail.MontoTotal ?? orderDetail.MontoCompromiso }}
										</td>
									</tr>
									<tr *ngIf="orderDetail.MontoGastado">
										<td>Monto Gastado</td>
										<td>{{ currencyDocument }} {{ orderDetail.MontoGastado }}</td>
									</tr>
									<tr *ngIf="orderDetail.MontoCompromiso">
										<td>Saldo</td>
										<td>{{ currencyDocument }} {{ orderDetail.MontoCompromiso - orderDetail.MontoGastado }}
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<div class="buttons-group" style="margin: 10px;">
					<button class="btn btn-dark btn-rounded me-2" (click)="backOrderTable()">
						<i class="fa fa-chevron-left"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Column -->
</div>