<div class="card">
	<div class="card-header">
		<h3 class="card-title">
			<span><img src="assets/images/users/user5.jpg" alt="user" class="rounded-circle" width="50"></span>
			{{ rowSelected.PreparadaPor }} - {{ rowSelected.Prioridad }}
		</h3>
		<div class="card-subtitle" style="text-align: right; margin-top: 20px;">
			<div class="buttons-group">
				<button type="button" class="btn btn-light-primary text-primary me-2" (click)="viewFiles(true)"
					[disabled]="showFiles" data-bs-toggle="tooltip" title="Ver Adjuntos">
					<i class="fa fa-paperclip"></i>
				</button>
				<button class="btn btn-light-primary text-primary me-2" (click)="approveRequirements()"
					data-bs-toggle="tooltip" title="Aprobar">
					<i class="fa fa-check"></i>
				</button>
				<button type="button" class="btn btn-light-primary text-primary me-2" (click)="rejectRequirements()"
					data-bs-toggle="tooltip" title="Rechazar">
					<i class="fa fa-times"></i>
				</button>
				<button class="btn btn-light-primary text-primary" (click)="backToRequirementTable()"
					data-bs-toggle="tooltip" title="Regresar">
					<i class="fa fa-chevron-left"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="card-body">
		@if(!showFiles) {
		<app-table [columns]="columns" [rows]="rows">
			<app-table-resize [tableDetails]="tableDetails"></app-table-resize>
		</app-table>
		}
		@if(showFiles) {
		<app-requirements-files [filesRequirement]="filesRequirement"></app-requirements-files>
		}
	</div>
</div>