<form>
  <div class="row align-items-center gap-3">
    <div class="col-md-4 d-flex align-items-center">
      <label for="fecha" class="form-label mb-0 me-2">Fecha:</label>
      <input [(ngModel)]="filtro.filtro_fecha" type="date" name="fecha" id="fecha" class="form-control" disabled>
    </div>
    <div class="col-md-4">
      <select [(ngModel)]="filtro.filtro_sede" id="opciones" name="sede" class="form-select">
        <option value="" disabled selected>Selecciona una sede</option>
        @for (sede of sedes; track sede.codigo) {
          <option [value]="sede.codigo">{{ sede.nombre }}</option>
        }
      </select>
    </div>
    <div class="col-md-2 col-12">
      <button type="button" class="btn btn-primary w-100" (click)="emitirBuscar()" [disabled]="fBuscando">
        @if (fBuscando) {
          <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
        }
        Procesar
      </button>
    </div>
  </div>
</form>
