<div class="row">
	<div class="col-12">
		<div class="card">
      <app-filtro-periodos
        [areas]="areas"
        [personalPorArea]="personalPorArea"
        (evtListar)="evtListar($event)" />

      @if (vacacionPersonalVisualizada) {
        <div class="contenedor-fecha-ingreso m-auto mt-4">
          <span class="d-block fw-bold fs-3">{{ vacacionPersonalVisualizada.DES_CARGO }}</span>

          <span class="fw-bold fs-3 me-1">Tipo:</span>
          <span class="fs-3">{{ vacacionPersonalVisualizada.TipoPlanilla }}</span>

          <br>

          <span class="fw-bold fs-3 me-1">Fecha de Ingreso: </span>
          <span class="fs-3">--- Valor pendiente ---</span>
        </div>
      }

      <app-tbl-periodos
        [filas]="lstPeriodosPagados"
        [fListando]="fListandoPeriodos"
        (evtFilaSeleccionada)="filaSeleccionada($event)" />
    </div>
  </div>
</div>
