.input-group, .ngb-timepicker {
	height: 38px;
	align-items: center; 
}

.ngb-timepicker .ngb-tp {
	height: 100%;
}

input[type="date"] {
	padding: 6px 12px; 
}

.form-label {
	display: block;
	margin-bottom: 0.5rem;
}
