<div class="modal-header">
	<h5 class="modal-title" id="editUserLabel">Permiso</h5>

	<button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
</div>

<div class="modal-body">
	<form [formGroup]="addWorkerPermissionForm" (ngSubmit)="onSubmit()">
		<div class="mb-3 row">
			<label for="doj" class="col-sm-4 col-form-label">Trabajador</label>
			<div class="col-sm-8 d-flex">
				<ng-select [items]="personList" bindLabel="NombreCompleto" bindValue="Persona" placeholder="Trabajador"
					formControlName="person" [searchable]="true" class="flex-grow-1 me-2" (search)="onSearch($event)">
				</ng-select>
				<button type="button" class="btn btn-primary" (click)="searchPersons()">Buscar</button>
			</div>
		</div>

		<div class="mb-3 row">
			<label for="doj" class="col-sm-4 col-form-label">Motivo</label>
			<div class="col-sm-8">
				<ng-select [items]="motiveList" bindLabel="name" bindValue="id" placeholder="Motivo"
					formControlName="motive" [searchable]="true">
				</ng-select>
			</div>
		</div>

		<div class="mb-3 row">
			<label for="doj" class="col-sm-4 col-form-label">Fecha Desde</label>
			<div class="col-sm-8">
				<input type="date" class="form-control" formControlName="startDate" />
			</div>
		</div>


		<div class="mb-3 row">
			<label for="projects" class="col-sm-4 col-form-label">Hora Inicio</label>
			<div class="col-sm-8">
				<ngb-timepicker [(ngModel)]="time" [meridian]="false" formControlName="startTime"></ngb-timepicker>
			</div>
		</div>

		<div class="mb-3 row">
			<label for="doj" class="col-sm-4 col-form-label">Fecha Hasta</label>
			<div class="col-sm-8">
				<input type="date" class="form-control" formControlName="endDate" />
			</div>
		</div>

		<div class="mb-3 row">
			<label for="projects" class="col-sm-4 col-form-label">Hora Fin</label>
			<div class="col-sm-8">
				<ngb-timepicker [(ngModel)]="time" [meridian]="false" formControlName="endTime"></ngb-timepicker>
			</div>
		</div>

		<div class="mb-3 row">
			<label for="projects" class="col-sm-4 col-form-label">Justificación</label>
			<div class="col-sm-8">
				<textarea name="description" rows="6" type="text" class="form-control"
					formControlName="justification"></textarea>
			</div>
		</div>

		<div class="mb-3 row">
			<label for="doj" class="col-sm-4 col-form-label">Aprobado por</label>
			<div class="col-sm-8">
				<ng-select [items]="approverList" bindLabel="NombreCompleto" bindValue="Persona" placeholder="Aprobado por"
					formControlName="approver" [searchable]="true">
				</ng-select>
			</div>
		</div>

		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" (click)="closeModal()">
				Cerrar
			</button>

			<button type="submit" class="btn btn-primary" [disabled]="addWorkerPermissionForm.invalid">
				Guardar
			</button>
		</div>
	</form>
</div>